/**
 * Pallette
 *
 *          dark     light
 * Blacks:  #232323, #333333
 * Blues:   #003399, #2A52BE 
 * Greens:  #224C25, #03C03C
 * Yellows: #FFF700, #FDFD96
 * Reds:    #B22222, #FF6961
 * Whites:  #EDEDED, #F5F5F5
 */

body {
    background-color: #000000;
    color: #03C03C;
}

a {
}

a:hover {
}

a:visited {
}

.nav {
}

.nav li {
}

.content {
    padding-top: 60px;
}

.btn {
    color: #EDEDED;
    background-color: #03C03C;
}

.btn:hover {
    background-color: #224C25;
}
